<div class="row">
  <h1>FeedBack Requests for <%= @user.name %></h1>
  <h3>Pending FeedBack:</h3>
  <div id='pending'>
    <% @pending_invites.each do |invite| %>
      <div class="well col-sm-3 text-center" id="feedback-for-<%= invite.feedback_for_id %>">
        <strong><%=invite.invite_set.title%>:</strong>
        <%= invite.feedback_for.name %><br/>
        <%= link_to "Give Feedback", new_submission_path(:invite_id => invite), :id => 'give_feedback', class: "btn btn-xs btn-success" %>
      </div>
    <% end %>
  </div>
</div>

<h3>Completed FeedBack:</h3>
<ul id='completed'>
  <% @completed_invites.each do |invite| %>
    <li id="feedback-for-<%= invite.feedback_for_id %>">
      <%= invite.feedback_for.name %>
    </li>
  <% end %>
</ul>
