<div class="text-center">
  <h2>Create a New Project</h2>

  <%= form_for @invite_set, url: admin_invite_sets_path, method: :post do |f| %>
    <p>
      <%= f.label 'title', 'Project Name' %><br/>
      <%= f.text_field 'title', :id => 'title', style: "width:400px;", required: true %>
    </p>
    <p>
      <%= f.label 'groups', 'Project Groups' %><br/>
      <%= f.text_area 'groups', :id => 'groups', rows: 20, cols: 50, required: true %>
    </p>
    <p>
      <%= f.submit 'Create Invites', :id => 'submit', class: "btn btn-lg btn-primary" %>
    </p>
  <% end %>
</div>