<div class="container">
  <div class="row"><br/>
    <h3>Please rate <%=@reviews_needed%> submissions to recieve your FeedBack</h3><hr/>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th class="col-sm-6">Comment</th>
          <th class="text-center">FeedBack Review Actions</th>
        </tr>
      </thead>
      <tbody>
        <%@submissions.each do |submission|%>
          <tr>
            <td><%=submission.id%></td>
            <td><%=submission.comments%></td>
            <td class="text-center">
              <%= link_to "+", submission_path(submission.id, :type => '+'), method: 'PUT', class: "btn btn-tiny btn-primary" %>
              <%= link_to "-", submission_path(submission.id, :type => '-'), method: 'PUT', class: "btn btn-tiny btn-danger" %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>



