<div class="container">
  <div class="row">
    <div class="col-sm-11">
      <h3>Please rate <%=@reviews_needed%> submissions to receive your Feedback</h3>
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top:30px;">? <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-right" style="width: 500px;">
        <li><p>-If there are no comments on this page for you to rate, check back later to see if any more have been submitted.</p></li>
        <li><p>-Remember, you need to rate 3 comments to receive 1 of your peer's feedback</p></li>
        <li><p>-Please rate each comment only one time.</p></li>
        <li><p>-Want to make changes on this app?<a href="https://github.com/turingschool/feedback" target="_blank"> GitHub Repo</a>, Submit a pull request today!</p></li>
        <li role="separator" class="divider"></li>
        <li><a id="bookmarkme" href="#" class="text-center" rel="sidebar" title="bookmark this page">Bookmark This Page</a></li>
      </ul>
    </div>
  </div>
    <hr/>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th class="col-sm-6">Comment</th>
          <th class="text-center">FeedBack Review Actions</th>
        </tr>
      </thead>
      <tbody>
        <%@submissions.each do |submission|%>
          <tr>
            <td><%=submission.id%></td>
            <td><%=submission.comments%></td>
            <td class="text-center">
              <%= link_to "+", submission_path(submission.id, :type => '+'), method: 'PUT', class: "btn btn-tiny btn-primary" %>
              <%= link_to "-", submission_path(submission.id, :type => '-'), method: 'PUT', class: "btn btn-tiny btn-danger" %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>