<h1>New Submission</h1>

<%= semantic_form_for @submission do |f| %>
  <ul>
    <li id='feedback-for'>
      Feedback for: <%= @submission.feedback_for.name %>
    </li>
    <li id='title'>
      Working on: <%= @submission.invite.invite_set.title %>
    </li>
  </ul>
  <%= f.inputs do %>
    <%= f.input :participation, :as => :radio, :collection => Submission.options, :hint => "I feel you participated to the best of your abilities." %>
    <%= f.input :valuable, :as => :radio, :collection => Submission.options, :hint => "I found our collaboration valuable and productive." %>
    <%= f.input :again, :as => :radio, :collection => Submission.options, :hint => "I look forward to collaborating with you again." %>
    <%= f.input :comments %>
    <%= f.hidden_field :invite_id, :value => @invite.id %>
  <% end %>
  <%= f.submit 'Submit', :id => 'submit' %>
<% end %>
