<h1>New Submission</h1>

<%= form_for @submission do |f| %>
<ul>
  <li id='feedback-for'>
    Feedback for: <%= @submission.feedback_for.name %>
  </li>
  <li id='title'>
    Working on: <%= @submission.invite.invite_set.title %>
  </li>
  <li id='participation'>
    I feel you participated to the best of your abilities.
    <%= ratings_for(:participation, f) %>
  </li>
  <li id='valuable'>
    I found our collaboration valuable and productive.
    <%= ratings_for(:valuable, f) %>
  </li>
  <li id='again'>
    I would want to collaborate with you again.
    <%= ratings_for(:again, f) %>
  </li>
  <li>
    Comments:
    <%= f.text_area :comments, :id => 'comments' %>
  </li>
  <li>
    <%= f.hidden_field :invite_id, :value => @invite.id %>
    <%= f.submit 'Submit', :id => 'submit' %>
  </li>
</ul>
<% end %>
