<div class="container">
  <div class="row text-center">
    <div class="col-sm-5" id='user-for- name'>
      This Feedback is for: <strong><h4><%= @submission.feedback_for.name %></h4></strong>
    </div>
    <div class="col-sm-5" id='title'>
      Project Title: <h5><strong><%= @invite.invite_set.title %></strong></h5>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 20px;">?<span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-right" style="width: 400px;">
        <li><p>-All the information on this page will be emailed to your teammate</p></li>
        <li><p>-Honesty is key, but please be respectful.</p></li>
        <li><p>-Once you are finished, click the 'Submit Feedback' button to move on to the next part.</p></li>
        <li><p>-Want to make changes on this app?<a href="https://github.com/turingschool/feedback" target="_blank"> GitHub Repo</a>, Submit a pull request today!</p></li>
      </ul>
    </div>
  </div><hr/>
</div>

<div class="container">
<%= semantic_form_for @submission do |f| %>
  <%= f.inputs do %>
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">I feel you participated to the best of your abilities.</h3>
          </div>
          <div class="panel-body">
             <%= f.input :participation, :as => :radio, :collection => Submission.options, requried: true, :label => false %>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">I found our collaboration valuable and productive.</h3>
          </div>
          <div class="panel-body">
            <%= f.input :valuable, :as => :radio, :collection => Submission.options, requried: true, :label => false %>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">I look forward to collaborating with you again.</h3>
          </div>
          <div class="panel-body">
            <%= f.input :again, :as => :radio, :collection => Submission.options, requried: true, :label => false%>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8" id="new-submission-comment">
        <strong><%= f.label "Comments"%>
        <span id="characters">
          <span id="char-count">0</span>/240</strong>
        </span>
        <br/>
        <%= f.text_area :comments, size: "70x6", requried: true, class: "comment", placeholder: "Your tireless effort to keep the team working together and on track was an inspiration for me and all humanity.  Thanks, Friend." %>
        <%= f.hidden_field :invite_id, :value => @invite.id %>
        <%= f.hidden_field :user_id, :value => @invite.feedback_from_id %>
      </div>
      <div class="col-sm-4 text-center">
        <%= f.submit 'Submit Feedback', :id => 'submit', class: "btn btn-success btn-lg", style: "margin-top: 100px;" %>
      </div>
  <% end %>
<% end %>
</div>
