<h1>New Submission</h1>
  <div id='user-for- name'>
    Feedback for: <strong><%= @submission.feedback_for.name %></strong>
  </div>
  <div id='title'>
    Project Title: <strong><%= @invite.invite_set.title %></strong>
  </div><br/>

<%= semantic_form_for @submission do |f| %>
  <%= f.inputs do %>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">I feel you participated to the best of your abilities.</h3>
        </div>
        <div class="panel-body">
           <%= f.input :participation, :as => :radio, :collection => Submission.options, requried: true %>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">I found our collaboration valuable and productive.</h3>
        </div>
        <div class="panel-body">
          <%= f.input :valuable, :as => :radio, :collection => Submission.options, requried: true %>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">I look forward to collaborating with you again.</h3>
        </div>
        <div class="panel-body">
          <%= f.input :again, :as => :radio, :collection => Submission.options, requried: true%>
        </div>
      </div>
    </div>
    <div class="text-center" id="new-submission-comment">
      <strong><%= f.label "Comments"%></strong><br/>
      <%= f.text_area :comments, size: "70x6", requried: true, class: "comment" %>
      <div id="characters"><span id="char-count">0</span>/240 characters</div>
    </div>
    <%= f.hidden_field :invite_id, :value => @invite.id %>
    <%= f.hidden_field :user_id, :value => @invite.feedback_from_id %>
  <% end %>
  <%= f.submit 'Submit', :id => 'submit', class: "btn btn-success" %>
<% end %>
