<h1>Hey <%=@user_to.name%>,</h1>

<p>Thanks for completing your part of FeedBack, below is the feedback from one of your teammates.</p>
<p>Keep up the hard work!</p>

<h4> ~ Turing Staff</h4>
<h6>Please do not respond to this email</h6>
<hr/>

<h1>FeedBack:</h1>

  <p>I look forward to collaborating with you again: <strong><%=@feedback.again%></strong></p>
  <p>I found our collaboration valuable and productive: <strong><%=@feedback.valuable%></strong></p>
  <p>I feel you participated to the best of your abilities: <strong><%=@feedback.participation%></strong></p>
  <p>
    <strong>Comments:</strong><br/>
    <%=@feedback.comments%>
  </p>
