<div class="container">
  <div class="row">
    <h3>Submitting Feedback</h3>
    <p>Sender: <%= @fb.sender.slack_name %></p>
    <p>Receiver: <%= @fb.receiver.slack_name %></p>
    <%= bootstrap_form_for @fb do |f| %>
      <%= f.text_area :text, hide_label: true, placeholder: "Your feedback here..." %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
