<div class="container">
  <h3>Students</h3><br/>

  <div class="row well">
    <%= form_for @user, url: admin_users_path, method: :post do |f| %>
      <div class="col-sm-4">
        <p>
          <%= f.label 'Name', 'Name' %><br/>
          <%= f.text_field 'name', :id => 'name', cols: 50, required: true %>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <%= f.label 'Cohort', 'Cohort' %><br/>
          <%= f.text_field 'cohort', :id => 'cohort', required: true %>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <%= f.label 'Email', 'Email' %><br/>
          <%= f.text_field 'email', :id => 'email', required: true %>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <%= f.submit 'Create User', :id => 'submit' %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="input-group col-sm-6"> <span class="input-group-addon">Search</span>
    <input id="filter" type="text" class="form-control" placeholder="Type Search Here">
  </div>
  <hr>
  <div class="panel panel-primary filterable">
    <div class="panel-heading">
      <h3 class="panel-title">Students</h3>
    </div>
    <table class="table tablesorter">
      <thead>
        <tr class="filters">
          <th><a class="form-control">ID</th>
          <th><a class="form-control">Name</th>
          <th><a class="form-control">Email</th>
          <th><a class="form-control">Cohort</th>
          <th><a class="form-control">Delivery %</th>
          <th><a class="form-control">Peer Review Count</th>
        </tr>
      </thead>
      <tbody class="searchable">
        <% @users.each do |user| %>
          <%= form_for user, url: admin_user_path(user.id) do |f| %>
          <tr>
            <td class="id"><%= user.id%></td>
            <td class="name"><%=  f.text_field :name %></td>
            <td class="email"><%= f.text_field :email %></td>
            <td class="cohort"><%= f.text_field :cohort %></td>
            <td class="delivery_percentage text-center"><%= user.delivery_percentage %>%</td>
            <td class="peer_review_count text-center"><%= user.peer_review_count %></td>
            <td class="update text-center"><%= f.submit "Update User", class: "btn btn-warning btn-xs"%></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>