<div class="container">
  <div class="row"><br/>
      <table class="table">
        <thead>
          <tr class="table-header">
            <th>#</th>
            <th class="col-sm-6">Comment</th>
            <th class="">To</th>
            <th class="">From</th>
            <th class="text-center">FeedBack Review</th>
            <th class="text-center">FeedBack Score</th>
          </tr>
        </thead>
        <tbody>
          <%submissions.each do |submission|%>
            <tr>
              <th scope="row"><%=submission.id%></th>
              <td scope="row"><%=submission.comments%></td>
              <th scope="row"><%=submission.feedback_for.name%></th>
              <th scope="row"><%=submission.feedback_from.name%></th>
              <td class="text-center">
                <%= link_to "+", submission_path(submission.id, :type => '+'), method: 'PUT', class: "btn btn-tiny btn-primary"%>
                <%= link_to "-", submission_path(submission.id, :type => '-'), method: 'PUT', class: "btn btn-tiny btn-danger"%>
              </td>
              <td class="text-center"><%=submission.peer_review_score%></td>
            </tr>
          <%end%>
        </tbody>
      </table>
  </div>
</div>



